header {
    background: linear-gradient(to right, var(--light-blue) 0%, var(--blue) 100%);;
    padding: 1rem;
    margin-bottom: 1rem;
    h1{
        text-align: center;
        margin: 0;
        color: white;
    }
}