.single-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 10px;
    background: var(--bg-color);
    border: solid 1px black;
    
    
    
}
.task-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        padding: 5px;
    }
    label{
        padding: 0.5rem 1rem;
        margin: 0 10px;
    }
    input[type="checkbox"]{
        display: none;
    }
}
.delete{
    cursor: pointer;
}
.preview{
    margin-top: 48px;
    background: var(--bg-box);
    padding: 24px 24px;
    h2{
        margin-top: 0;
    }
}
.form-group{
    label {
        margin-right: 50px;
    }
}
.create-task-input{
    padding: 5px 10px;
    outline: none;
}
.container{
    margin: 48px;
}